body { 
    background-color: #222;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

/* header styling */
.top {
    position: relative;
    height: 10px;
    background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%)
}

h1 {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: white;
    font-size: 4vw;
    font-weight: 300;
    text-transform: uppercase;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* button styles */
/* Random */ 
.RANDOMISE {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3f0ccd; /* add fade colour? */
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #686868;
}
  
.RANDOMISE:hover {
    background-color: #6435e4
}
  
.RANDOMISE:active {
    background-color: #8257f6;
    box-shadow: 0 5px #686868;
    transform: translateY(4px);
}

/* Run Button */
.RUN1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3f0ccd; /* add fade colour? */
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #686868;
}
  
.RUN1:hover {
    background-color: #6435e4
}
  
.RUN1:active {
    background-color: #8257f6;
    box-shadow: 0 5px #686868;
    transform: translateY(4px);
}

/* Feeling Lucky, Punk? */
.Luck {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3f0ccd; /* add fade colour? */
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #686868;
}

.Luck:hover {
    background-color: #6435e4
}
  
.Luck:active {
    background-color: #8257f6;
    box-shadow: 0 5px #686868;
    transform: translateY(4px);
}

/* card styles */
/* shadow */
.shadow-2x1 { 
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

/* hover */
.shadow-2x1:hover {
    box-shadow: 0 30px 40px -15px rgba(0,0,0,0.3)
}

.modal {
    display: flex;
    width: 20;
    height: 50%;
    align-items: top;
}

/* media queries */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .container {
        width: 90%;
        margin: auto;
    }
}
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    .container {
        width: 100%;
    }
    .menu {
        display: none;
    }
}


